<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}, id-numerosi on {{ session.user_id}}
  </p>
  <p>
    Pelit:
  </p>
  <hr />
  {% for game in games %}
  <ul>
    <li><a href="/game/{{ game.id }}">{{ game.content }}</li>
  </ul>
  {% endfor %}
    <hr />
  <p>
    <a href="/new">Lisää peli</a>
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  <p>
    Luo uusi käyttäjä täällä:
  </p>
  <p>
    <a href="/register">Luo tunnus</a>
  </p>
  {% endif %}
</body>

</html>